services:
  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html:z
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:Z
    depends_on:
      - php

  php:
    image: php:fpm
    volumes:
      - ./src:/var/www/html:z
